<!DOCTYPE html>
<% include header  %>


<div class="container">
<div class="section">
<h6>POC Axa Blockchain</h6>
<div class="row">
    <div class="col s12 m4 offset-m2">
        <a href="/connexion"><div class="center card-panel blue-grey darken-1 hoverable">Connexion</div></a>
    </div>
    <div class="col s8 m4 14">
        <a href="/inscription"><div class="center card-panel blue-grey darken-1 hoverable">Inscription</div></a>
    </div>
</div>
</div>
</div>

<% include footer.ejs  %>