<!DOCTYPE html>
<% include header  %>

<div class="container">
<div class="section">
<div class="row">
    <h1 class="center">Account</h1>
    <div class="row">
        <div class="col s12">
            <p>Voici votre clé publique ! Gardez le précieusement :)</p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input disabled value="" id="disabled" type="text" class="validate">
            <label>0x0qdfdsfsdf</label>
        </div>
    </div>
    </form>
  </div>
  </div>
  </div>